# folder
__pycache__/
pulseaudio/
chatbot/

# file
property.ini

property_.ini

kws_assistant.table

kws_hey_king_chang.table

kws_keen_chen.table

kws_KINCHAN.table

kws_kiinchang.table

kws_o_k_kinh_xiang.table

kws_konnichiwa.table

kws_hey_papero.table

kws_o_k_papero.table

kws_Okay_Par_Pelloe.table

kws_Hey_Par_Pelloe.table

1_6.py

6_2.py

6_3.py

janome_test.py

test1.py

test2.py

.gitignore

